header,
#header-top>nav,
#header-top>nav>ul>li,
#header-top>nav>ul>li>a,
footer>div
{
    width: 100%;
}

#header-top{
    flex-direction: column;
    align-items: center;
}

#header-top>nav>ul{
    width: 100%;
    padding: 0;
}

#nav-selected{
    border-top: none;
    border-bottom: 2px solid #0065FC;
}

header>h1, header>p, #search, header>i, #filters, #activites{
    margin: 0 15px;
}

header>h1{
    margin-bottom: 10px;
    margin-top: 20px;
}

#filters{
    flex-wrap: wrap;
}

#filters>ul{
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 0;
}

#filters>strong{
    width: 100%;
    line-height: 40px;
}

#filters>ul>li{
    margin: 0 10px 10px 0;
}

#search{
    display: block;
}

#search>div{
    width: 89%;
}

#search>div>input[type=text]{
    width: 83%;
}

#search>input[type=submit]{
    display: none;
}

#search>button{
    display: inline-block;
    border-radius: 10px;
    border: 0;
}

article{
    margin: 0;
    width: 100%;
}

article>div{
    flex-direction: column-reverse;
}

#hebergements{
    background-color: transparent;
    flex-direction: column;
    padding-left: 15px;
    
}

#hebergements>div{
    width: auto;
}

#populaires{
    padding-left: 15px;
    border-radius: 0;
}

#activites{
    margin-top: 25px;
}

#activites-tile-container{
    display: flex;
    flex-direction: column;
}

.activites-tile{
    height: 200px;
}

.activites-tile>img{
    height: 76% !important;
}

footer{
    flex-direction: column;
}