#filters>ul{
    padding-left: 10px;
}

article>div{
    flex-direction: column;
}

#hebergements, #populaires{
    width: 95%;
}

#populaires{
    margin-top: 30px;
}

.activites-tile h3{
    margin-left: 10px;
}